<!DOCTYPE HTML>

{% load static %}
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="{% static 'media/midionline.png'%}">
  <meta charset="UTF-8">
  <title>Midi Maker Online</title>
  <script src="{% static 'main.js'%}"></script>
  <link rel="stylesheet" href="{% static 'main.css'%}" media="screen">
</head>
<body>
    <div class = "hub">
        <div id = "octave-select">
            <button class='scroll' onclick="octaveDown()"> < </button>
            <h2> 0 </h2>
            <button class='scroll' onclick="octaveUp()"> > </button>
        </div>
        <div id= "sound">
            <button onclick="myFunction()" class="dropbtn">$</button>
            <div id="myDropdown" class="dropdown-content">
                <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                <a onclick="updateIn('Cowbell')">Cowbell</a>
                <a onclick="updateIn('Beep')">Beep</a>
                <a onclick="updateIn('Piano')">Piano</a>
                <a onclick="updateIn('Voice')">Voice</a>
                <a onclick="updateIn('Sax')">Sax</a>
                <a onclick="updateIn('Guitar')">Guitar</a>
                <a onclick="updateIn('Karl')">Karl</a>
                <a onclick="updateIn('Jayy')">Jayy</a>
                <a onclick="updateIn('Spinz808')">Spinz808</a>
                <a onclick="updateIn('Zay808')">Zay808</a>
            </div>
        </div>
    </div>
    <div class = "keyboard" onmousedown = "clicked()" onmouseup ="unclicked()">
        <ul id = "keys">
        </ul>
    </div>
</body>
</html>
