<!DOCTYPE HTML>

{% load static %}
<html lang="en">
<head>
  <link rel="icon" type="image/png" href="{% static 'media/midionline.png'%}">
  <meta charset="UTF-8">
  <title>Midi Maker Online</title>
  <script src="{% static 'main.js'%}"></script>
  <link rel="stylesheet" href="{% static 'main.css'%}" media="screen">
</head>
<body>
    <div class = "hub">
        <div class="menu-container">
            <div class="button-container">
               <button id = "120" onclick="playloop('120')" class="drums">7</button>
               <button id = "140" onclick="playloop('140')" class="drums">8</button>
               <button id = "150" onclick="playloop('150')" class="drums">9</button>
               <button onclick="playdrum('Perc')" class="drums">4</button>
               <button onclick="playdrum('ohi')" class="drums">5</button>
               <button onclick="playdrum('Roll')" class="drums">6</button>
               <button onclick="playdrum('Kick')" class="drums">1</button>
               <button onclick="playdrum('Clap')" class="drums">2</button>
               <button onclick="playdrum('chi')" class="drums">3</button>
            </div>
        </div>
    </div>
    <div id = "bet" class = "keyboard" onmousedown = "clicked()" onmouseup ="unclicked()">
        <div class = "keyhub">
            <div id= "sound">
                <a onclick="myFunction()" class="dropbtn">♪</a>
                <div id="myDropdown" class="dropdown-content">
                    <a onclick="mySynth()">Synth</a>
                    <div id="mySynth" class="Keys">
                        <a onclick="updateIn('Closely')">Closely</a>
                        <a onclick="updateIn('Ethereal')">Ethereal</a>
                        <a onclick="updateIn('Money')">Money</a>
                        <a onclick="updateIn('Press')">Press</a>
                        <a onclick="updateIn('Save it')">Save it</a>
                        <a onclick="updateIn('Shimmer')">Shimmer</a>
                        <a onclick="updateIn('Space')">Space</a>
                    </div> 
                    <a onclick="myKeys()">Keys</a>
                    <div id="myKeys" class="Keys">
                        <a onclick="updateIn('Grand')">Grand</a>
                        <a onclick="updateIn('Electric')">Electric</a>
                        <a onclick="updateIn('Vamp')">Vamp</a>
                    </div> 
                    <a onclick="myLeads()">Leads</a>
                    <div id="myLeads" class="Keys">
                        <a onclick="updateIn('Beep')">Beep</a>
                        <a onclick="updateIn('Cowbell')">Cowbell</a>
                        <a onclick="updateIn('Guitar')">Guitar</a>
                        <a onclick="updateIn('Sax')">Sax</a>
                    </div> 
                    <a onclick="myVocals()">Vocals</a>
                    <div id="myVocals" class="Keys">
                        <a onclick="updateIn('Voice')">Voice</a>
                        <a onclick="updateIn('Karl')">Lrxk</a>
                        <a onclick="updateIn('Jayy')">Uptown</a>
                        <a onclick="updateIn('Snore')">Meme</a>
                    </div> 
                    <a onclick="myBass()">Bass</a>
                    <div id="myBass" class="Keys">
                        <a onclick="updateIn('Spinz808')">Spinz808</a>
                        <a onclick="updateIn('Zay808')">Zay808</a>
                    </div> 
                </div> 
            </div>
            
        </div>
        <div id = "lowkey">
            <div id = "octave-select">
                <button class='scroll' onclick="octaveDown()"> < </button>
                <h2> 0 </h2>
                <button class='scroll' onclick="octaveUp()"> > </button>
            </div>
            <ul id = "keys">
            </ul>
        </div>
    </div>
</body>
</html>
