*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body{

  overflow: hidden;
  margin: 0;
  background-color: #000000;
}

#myVideo{
  width: 56.9vh;
  mix-blend-mode:color-burn;
  margin-left: -.6vh;
}
.screen{
  width: 56vh;
  background: #86c232;
}

.other{
  width: 50vh;
  background-color: #000000;
}


#octave-select{
  display: flex;
  color: #86c232;
  margin: 12px 0 14px 0;
  
}

#octave-select h2{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #86c232;
  font-size:18px;
  background-color: #86c23211;
  padding-left:3px;
  padding-right: 3.4px;
  padding-top: 7px;
  border-radius: .25em;
  box-shadow: 0 0 10px -2px rgba(0, 255, 0, 0.658);
}

.hub{
  height: 50%;
  display: flex;
  justify-content: space-between;
}
.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}

.button-container {
  width: 50vh;
  height: 45.5vh;
  background: #2c2f3100;
  overflow-y: auto;
  padding-top: 0.5vh;
  margin-right: -5.85vh;
}

.button-container > button {
  width: 22%;
  overflow: hidden;
  height: 10vh;
  float: left;
  background: rgb(62, 80, 67);   
  margin: 15px;
  margin-top: 25px;
}

.keyboard{
  position:absolute;
  top:45%;
  bottom:0;
  width: 100%;
  margin:auto;
  border-top:1px solid #00ff007e;
  background-color: #0a0b0c;
  padding:4vh 0 0 5vh;
  box-shadow: 0px 20px 10px -9px #000000d5 inset;
  transition: box-shadow 0.04s ease-in;
}

.keyboardglow{
  position:absolute;
  top:45%;
  bottom:0;
  width: 100%;
  margin:auto;
  border-top:2px solid #57f157da;
  background-color: #0a0b0c;
  padding:4vh 0 0 5vh;
  box-shadow: 0px 20px 25px -9px #00ff0059 inset;
  transition: box-shadow 0.3s ease-in;
}


.keyhub{
  margin-top: -4vh;
  margin-bottom: -.5vh;
  z-index:100;
}
.keyboard button{
  margin:auto;
  padding:0;
  list-style:none;
  position:relative;
  float:left
}

button.scroll{
    background-color:#ffffff00;
    color: #86c232;
    border:rgba(0, 0, 0, 0); 
    min-height:30px; 
    min-width: 200px;
    cursor: pointer;
}

button.black {
  margin:0;
  background-color:#000000;
  color: #303030;
  margin:0 -1.7% 0 -1.7%;
  border:none; 
  font-family: "Lucida Console", "Courier New", monospace;
  position: relative;
  z-index:2;
  height:28vh;
  width:3.4%;
  cursor: pointer;
}

button.blackr {
margin:0;
background-color:#e3f1e8;
color:  rgb(204, 204, 204);
margin:0 -1.7% 0 -1.7%;
border:none; 
font-family: "Lucida Console", "Courier New", monospace;
position: relative;
z-index:2;
height:28vh;
width:3.4%;
cursor: pointer;
}
button.whiter {
background-color:#000000;
color:#303030;
font-family: "Lucida Console", "Courier New", monospace;
outline:black; 
z-index:1;
border-width: 1px;
height:45vh;
width:6.3%;
border-top: 3px solid #86c232;
cursor: pointer;
box-shadow: 0 -9px 15px -8px rgba(0, 255, 0, 0.658);
}


button.white {
  background-color:#e3f1e8;
  color: rgb(204, 204, 204);
  font-family: "Lucida Console", "Courier New", monospace;
  outline:black; 
  z-index:1;
  border-width: 1px;
  height:45vh;
  width:6.3%;
  border-top: 3px solid #86c232;
  cursor: pointer;
  box-shadow: 0 -9px 15px -8px rgba(0, 255, 0, 0.658);
}



button.drums {
  background-color:#cde7cec9;
  font-family: "Lucida Console", "Courier New", monospace;
  box-shadow: 0px 5px 50px 10px rgb(126, 126, 126) inset;
  color: rgba(112, 161, 122, 0.507);
  box-shadow: 0 0 8px 0 rgba(0, 255, 0, 0);
  border:#ffffff98; 
  border-radius:0.3em;
  z-index:1;
  border-width: 1px;
  transition: box-shadow 0.3s ease-in;
  cursor: pointer;
}
button.drums:active{
  background-color:#00ff2aef;
  color:#00ff2a00;
  outline:rgb(0, 255, 0); 
  border-radius:0.3em;
  z-index:1;
  border-width: 1px;
  transition: box-shadow 0.03s ease-in;
  transition: background-color 0.03s ease-in;
  box-shadow: 0 0 15px 0 rgba(0, 255, 0, 0.658), 0px 5px 50px 5px rgb(126, 126, 126) inset;
}


button.black:active{
  background-color:#6B6E70;
}
button.black:hover{
  background-color:rgb(32, 43, 20);

}

button.white:hover{
  background-color:#bfe4bd;

}


button.white:active{
  background-color:#6B6E70;

}


.keybar{
  display: flex;
  width: 100%;
  
}
.stylebutt {
  float:right;
  color: #86c232;
  font-size: 22px;
  border: none;
  cursor: pointer;
  margin-top: -2.6vh;
}


.dropbtn {
  margin-left: -4.5vh;
  margin-top: 5vh;
  padding:1.5vh;
  color: #86c232;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
}

.dropdown {
  position: absolute;
}

.dropdown-content {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  z-index: 99;
  margin:auto;
  margin-top: .3vh;
  border: #005e14;
  display: none;
  position:absolute;
  background-color: #17191b;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Keys {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  z-index: 99;
  display: none;
  background-color: #6B6E70;
}

.dropdown-content a {
  outline-width: 2px;
  outline-color: #005e14;
  font-family: "Lucida Console", "Courier New", monospace;
  color: #86c232;
  margin: auto;
  padding: 5px 5px;
  text-decoration: none;
  display: flex;
}

.dropdown-content a:hover {background-color: #474B4F}

#lowkey{
  transition: all .25s;
}
.t1{
  margin-bottom: -10vh;
  transition: all 5s;
}
.show {
  display:flex;

}

.show2 {
  display:block;

}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0px 0px 16px 0px rgba(0, 253, 13, 0.2);
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 24px;
  left: 4px;
  box-shadow: 0px 0px 16px 0px rgba(0, 253, 13, 0.2);
  bottom: 4px;
  background-color: #86c232;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ed60da1;
  box-shadow: 0px 0px 16px 0px rgba(0, 253, 13, 0.2);
}

input:focus + .slider {
  box-shadow: 0 0 1px #86c232;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(28px);
  transform: translateX(26px);
  background-color: rgb(0, 0, 0);
}
#settingm{
  display: flex;
  padding: 20px;
  padding-left: 25%;
  padding-right: 25%;
  margin: auto;
  justify-content: space-between;
}

#bpslide{
  display: inline-flex;
  justify-content: space-between;
}
#settingm h2{
    font-family: "Lucida Console", "Courier New", monospace;
    color: #86c232;
    font-size:18px;
    background-color: #86c23211;
    padding-left:3px;
    padding-right: 3.4px;
    padding-top: 7px;
    border-radius: .25em;
}
#settingm h5{
  font-family: "Lucida Console", "Courier New", monospace;
  color: #86c23286;
  font-size:10px;

}
button.scroll2{
  background-color:#ffffff00;
  color: #86c232;
  border:rgba(0, 0, 0, 0); 
  min-height:30px; 
  min-width: 20px;
  cursor: pointer;
}